

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.carousel{
    background-color: skyblue;
    border: 2px solid black;
}

body {
    border: 5px solid black;
}

.center-block {
    object-fit: contain;
}

a img {
    border: 2px solid black;
}















